beautifulsoup4==4.12.3
branca==0.8.1
cachetools==5.5.0
certifi==2024.12.14
charset-normalizer==3.4.0
click==8.1.8
cloudpickle==3.1.0
contourpy==1.3.1
cycler==0.12.1
dask==2024.12.1
dask-expr==1.1.21
folium==0.19.2
fonttools==4.55.3
fsspec==2024.12.0
gcloud==0.18.3
geopandas==1.0.1
google==3.0.0
google-api-core==2.24.0
google-auth==2.37.0
google-cloud==0.34.0
google-cloud-core==2.4.1
google-cloud-storage==2.19.0
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
httplib2==0.22.0
idna==3.10
Jinja2==3.1.5
kiwisolver==1.4.7
locket==1.0.0
MarkupSafe==3.0.2
matplotlib==3.10.0
numpy==2.2.0
oauth2client==4.1.3
packaging==24.2
pandas==2.2.3
partd==1.4.2
pillow==11.0.0
proto-plus==1.25.0
protobuf==5.29.2
pyarrow==18.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyogrio==0.10.0
pyparsing==3.2.0
pyproj==3.7.0
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
rsa==4.9
Rtree==1.3.0
shapely==2.0.6
six==1.17.0
soupsieve==2.6
toolz==1.0.0
tqdm==4.67.1
tzdata==2024.2
urllib3==2.2.3
xyzservices==2024.9.0
